  <app-header [pageTitle]="'Productos'"></app-header>
  <ion-content class="ion-padding">
    <h2>Bienvenido</h2>
    <p>Acá podrás encontrar los últimos productos y novedades.</p>
    <p>Tenemos más de 300 productos, nuestra </p>
    <ion-grid>
      <ion-row>
        <app-grid-product [gridProductTitle]="'Gargantilla de plata'" [gridProductPrice]=16990></app-grid-product>
        <app-grid-product [gridProductTitle]="'Gato de yeso'" [gridProductPrice]=21990></app-grid-product>
      </ion-row>
      <ion-row>
        <app-grid-product [gridProductTitle]="'Kilo de arroz'" [gridProductPrice]=1590></app-grid-product>
        <app-grid-product [gridProductTitle]="'Bavarois de fruta'" [gridProductPrice]=3500></app-grid-product>
      </ion-row>
      <ion-row>
        <app-grid-product [gridProductTitle]="'Helado Sahnne Nuss 1lt'" [gridProductPrice]=5990></app-grid-product>
        <app-grid-product [gridProductTitle]="'Vinilo rojo'" [gridProductPrice]=22990></app-grid-product>
      </ion-row>
    </ion-grid>
    <h2>Encuéntranos</h2>
    <app-mapa></app-mapa>
  </ion-content>
